# Joern / temp / large artifacts
workspace/
external/joern/
work/joern/
work/funcs_batches/
work/funcs_small/
work/diversevul_pdg
data/dataset
work/diversevul_step1/funcs
**/__pycache__
*.cpg.bin
*.cpg.bin.zip
*.tmp
*.log
.venv/
